.calendar {
    width: 200px;
    height: 200px;
    outline: none;
}

#price{
    position: relative;
    top: 40px;
    right: 43px;
}

#custom-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }
